name: tcc_novo
description: "Aplicativo de fisioterapia pelvica pre-natal"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_blue_plus: ^1.10.0
  permission_handler: ^11.0.0
  sqflite: ^2.3.0
  path: ^1.8.3
  uuid: ^4.0.0
  crypto: ^3.0.0
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true